- id: '1563101193337'
  alias: New Automation
  trigger:
  - at: '13:45'
    platform: time
  condition: []
  action:
  - data:
      addon: core_rpc_shutdown
      input: Vasw-pc
    service: hassio.addon_stdin
- id: '1566422510017'
  alias: ChrisAtHome
  trigger: []
  condition:
  - condition: state
    entity_id: device_tracker.s8_chris
    state: 'state: ''home'''
  action:
  - service: notify.alert_test
- id: '1566658419796'
  alias: turnoffair
  trigger: []
  condition:
  - after: '17:57'
    before: '18:05'
    condition: time
  action:
  - service: climate.turn_off
- id: '1566659718730'
  alias: auto
  trigger:
  - at: '18:20'
    for: '5'
    platform: time
  condition: []
  action:
  - service: climate.turn_on
  - data: {}
    service: climate.set_temperature
    temperature: 23
